*{
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    text-align: center;

}
.div-box{

    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2rem;
    box-shadow: 5px 10px;

    
}

.greenDiv{
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2rem;
    box-shadow: 5px 10px;
    background-color: green;
}


.addBookButton{
    border-radius: 10px;
    border: 1px solid black;

    /* to center button: https://stackoverflow.com/questions/15300234/how-can-i-horizontally-center-a-button-element-in-a-div-element */
    margin: 0 auto;
    display: block;

    text-align: center;
    padding: 10px;

}

dialog, input, button{
    border-radius: 10px;

}


.read{
    background-color: green;
}